.content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.chatWindow {
    width: 50px;
    height: 65vh;
    background-color: white;
}
.chatProfile {
    background-color: aliceblue;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
.chatUserName {
    margin:5%;
    color:black;
}
.messagesWindow {
    height: 53.2vh;
    margin: 0.2vh;
    background-image: url('Screenshot_4.jpg');
    background-size: 70%;
    border-radius: 5px;
}
#outmessage {
    width: 90%;
    margin-left:0.2vh;
    margin-top:0.5vh;
    height: 3.5vh;
    border: 1px;
    border-radius: 10px;
    background-color: #e0e0e0;
}
/*
.userMessage {
    float: right;
    position: fixed;
    right:0;
    bottom: 0;
    margin-bottom: 6%;
    margin-right:3%;
    border-style: solid;
    border-color: dimgray;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    background-color: #abdbe3;
    width: fit-content;
    padding: 1%;
}
.contactMessage {
    margin-left: 2%;
    margin-bottom: 12%;
    position: fixed;
    bottom: 0;
    float: left;
    border-style: solid;
    border-color: dimgray;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    background-color: #fea45f;
    width: fit-content;
    padding: 1%;
}
*/
.btn {
    height: 3.5vh;
    margin-bottom: 1%;
}

.userTab{
    background-color: #072d4c;
}

.userName{
    margin: 1vh;
    color: white;
}
  
  #addContact{
      color:white;
      margin-right: 10%;
      margin-top: 5%;
      width:26px;
      height:26px;
      fill:white;

  }
  .addContact {
      float: right;
      margin-top: 3%;
  }
  .contacts{
      background-color: #fba25dCA;
      border-style:solid;
      border-bottom-width: 1px;
      border-left: 2px;
      border-right:2px;
      border-top:1px;
  }
  
  .contacts:hover{
      background-color: rgb(255, 199, 146);
  }
  
  .dateTime{
      margin-right: 8%;
      margin-top: 7%;
      font-size: 14px;
      float: right;
      color: white;
  }
  .chatWindow {
      width: 50px;
      height: 65vh;
      background-color: rgb(255, 255, 255);
  }

  .contactBox {
    height: 65vh;
    background-color: #9fadbd;
    border-radius: 5px;
}

.profilePicture{
    margin-left:1vh;
    margin-top:1vh;
    margin-bottom:1vh;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.logoutbutton{
    margin-top:1px;
    margin-right:1px;
    float:right
}
#modalInput{
    width: 45vh;
    text-align: center;
}
.sendTab{
    margin-bottom: 1vh;
}
.textOut {
    margin-left: 0.01vh;
    margin-top: 53.7vh;
    border-radius: 15px;
    height: 3.6vh;
    width: 71vh;
    background-color: #e0e0e0;
    font-size: 2vh;
}
.outbtn {
    width: 6.5vh;
}
