.chatWindow {
    width: 50px;
    height: 65vh;
    background-color: white;
}
.chatProfile {
    background-color: aliceblue;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
.chatUserName {
    margin:5%;
    color:black;
}
.messagesWindow {

}