.chatWindow {
    width: 50px;
    height: 65vh;
    background-color: white;
}
.chatProfile {
    background-color: aliceblue;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}
.chatUserName {
    margin:5%;
    color:black;
}
.messagesWindow {
    height: 82%;
    background-color: blanchedalmond;
    border-radius: 5px;
}
#outmessage {
    width: 90%;
    margin-left:0.2vh;
    margin-top:0.1vh;
    height: 3.5vh;
    border: 1px;
    border-radius: 10px;
}
.altsize {
    margin-bottom: 0.5%;
}
.userMessage {
    float: right;
    margin-right: 3%;
    margin-top: 55%;
    border-style: solid;
    border-color: dimgray;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    background-color: #76c5f6;
    width: fit-content;
    padding: 1%;
}
.contactMessage {
    position: absolute;
    margin-left: 3%;
    margin-bottom: 18%;
    float: left;
    bottom:0;
    border-style: solid;
    border-color: dimgray;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #000;
    background-color: greenyellow;
    width: fit-content;
    padding: 1%;
}